<!DOCTYPE html>
<html>
<head>
  <title>Cabitica</title>
  <%= stylesheet_link_tag    'application', media: 'all', 
    'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/user_header' %>

  <% if notice %>
    <div class="callout primary">
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="callout alert">
      <%= alert %>
    </div>
  <% end %>
  
  <div class="ui main text container">
    <%= yield %>
  </div>

</body>
</html>
